h1{
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.heading{
  font-family: Arial;
  background-color: darkgreen;
  border: 3px solid white;
}
#subtitle{
  font-family: Arial, Helvetica, sans-serif;
}
table, td, tr, th{
  border: 1px solid #333;
}
.box{
  padding: 10px 20px 30px 40px;

  border: 2px solid black;
  border-top: 2px dashed blue;
  border-right: 2px dotted red;
  border-bottom: 2px double brown;
  border-left: 2px solid green;

  margin: 10px;

  width: 100px;
  height: 100px;
}
